body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #9fabb2;
    display: flex;
    justify-content: center;
}

h1 {
    color: #4c545d;
    font-size: 2.725rem;
}

.container {
    width: 1440px;
    display: grid;
    justify-content: center;
    background: url(/images/bg-header-desktop.png) no-repeat;
}

.bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    max-width: 700px;
}

.texto-bloco {
    margin-top: 35px;
    font-size: 19px;
    line-height: 25px;
}

.botoes {
    display: flex;
    justify-content: center;
}

.btn-ios {
    background: #26baa4;
    padding: 15px 40px;
    border-radius: 35px;
    margin: 35px 8px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.btn-mac {
    background: #6173ff;
    padding: 15px 40px;
    border-radius: 35px;
    margin: 35px 8px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    position: fixed;
    bottom: 20px;
}